{% load i18n %}
{% load static %}
<style>
    .fondo {
        background-image: url({% static 'images/world-map.png' %});
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .rs-footer .footer-title{
        color:#63666A!important;
    }
    .rs-footer .footer-title:after{
        background-color:#63666A!important;
    }
     p{
        color:#63666A!important;
    }
     #site-footer button[type=submit]{
         border-radius: 10px!important;
     }
     #site-footer button[type=submit]:hover {
        background-color: #d0df00;
        border: 1px solid #63666A!important;
        color: #63666A;
        transform: scale(1.05);
}

     {#}#}
</style>
<footer id="site-footer" class="site-footer pt-2 pb-1 position-relative rs-footer">
    {#    <a id="denuncia" href="#" class="octf-btn d-flex align-items-center"><i#}
    {#            role="presentation" role="presentation"#}
    {#            class="fa fa-commenting-o text-white"></i> {% trans 'Canal de denuncias' %}</a>#}
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-1">
                <div class="about-widget text-white">
                    <h3 class="footer-title">ACERCA DE TRAXION:</h3>
                    <article style="max-width: 70%;">
                        <p style="text-align: justify;">Ofrecemos soluciones innovadoras para mejorar la movilidad,
                            haciendo el transporte más eficiente y cómodo. Con tecnología avanzada y un equipo
                            especializado, garantizamos experiencias fluidas para empresas y particulares.</p>
                    </article>
                </div>
            </div>
            <div class="col-md-4 cont mb-1">
                <h3 class="footer-title">CONTACTO:</h3>
                <p class="news-note mb-1"><i class="fa fa-map-marker" aria-hidden="true"></i>
                    comercialmkt@traxion.global
                    +52 (55) 9861 1889
                </p>
                <div class="pt-2 a">
                    <button id="" type="submit" class="btn">Contáctanos</button>
                </div>
            </div>
            <div class="col-md-4 mb-1 fondo">
                <h3 class="footer-title">UBICACIÓN</h3>
                <div class="d-flex flex-column justify-content-around align-items-baseline">
                    <p class="mb-1">
                        Paseo de la Reforma 115, Lomas de Chapultepec C.P. 11000 CDMX
                    </p>
                    <form class="form mb-2 pt-2 text-center was-validated" method="post" id="newsletter-form-footer">
                        <div class="form-group mb-1">
                            <input class="col-md-8 col-sm-7 col-8" id="fieldEmail" name="email"
                                   type="email" placeholder="{% trans 'Correo electrónico' %}" required
                                   data-msg-required="" data-msg-email=""/>
                            <button id="newsletter-submit-footer" type="submit" class="btn">Suscribirse</button>
                        </div>
                        <div class="alert-message-footer"></div>
                    </form>
                </div>

            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12 text-center">
                <p class="copyright my-0">
                    © {% now 'Y' %} {% trans 'Finsa - Diseñado y generado por' %}
                    <a href="http://www.irdesign.mx/">
                        <img src="{% static 'images/ir-design-white.svg' %}" alt="IRDesign" width="90px">
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
