{% load change_languaje %}
{% load static %}
{% load i18n %}

<ul id="main_menu">
    <li class="sub">
        <a href="{% url 'inicio' %}">
            <div>{% trans 'Inicio' %}</div>
        </a>
    </li>
    <li class="sub">
        <a href="{% url 'materialidad' %}">
            <div>{% trans 'Sostenibilidad' %}</div>
        </a>
        <ul>
            <li class="">
                <a href="{% url 'materialidad' %}?target=acciones">
                    <div>{% trans "MODELO DE SOSTENIBILIDAD" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=ejes">
                    <div>{% trans "MODELO DE GESTIÓN" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=modelo-sus">
                    <div>{% trans "Sostenibilidad, nuestra Estrategia" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=grupos">
                    <div>{% trans "GRUPOS DE INTERÉS" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=actualizacion-sus">
                    <div>{% trans "MATERIALIDAD" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'materialidad' %}?target=contribucion_ods">
                    <div>{% trans "CONTRIBUCIÓN A LOS ODS" %}</div>
                </a>
            </li> 
            <li class="">
                <a href="{% url 'materialidad' %}?target=descargable">
                    <div>{% trans "CONTENIDO DESCARGABLE" %}</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="sub">
        <a href="{% url 'ambiental' %}">
            <div>{% trans 'Planeta' %}</div>
        </a>
            <ul>
            <li class="">
                <a href="{% url 'ambiental' %}?target=gestion_entorno">
                    <div>{% trans "Gestión del Entorno Natural" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'ambiental' %}?target=gestion_energia">
                    <div>{% trans "Gestión de energía y combustible" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'ambiental' %}?target=energia">
                    <div>{% trans "Consumo de Energía" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'ambiental' %}?target=emisiones">
                    <div>{% trans "Emisiones de GEI" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'ambiental' %}?target=agua">
                    <div>{% trans "Gestión del Agua" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'ambiental' %}?target=residuos">
                    <div>{% trans "Gestión de Residuos" %}</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="sub">
        <a href="{% url 'responsabilidad_social' %}">
            <div>{% trans 'Personas' %}</div>
        </a>
        <ul>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=nuestro-talento">
                    <div>{% trans "Nuestro Talento" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=integracion">
                    <div>{% trans "Atracción y Retención" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=fuerza_laboral">
                    <div>{% trans "Fuerza Laboral" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'responsabilidad_social' %}?target=cultura">
                    <div>{% trans "Fundaciones" %}</div>
                </a>
            </li>
        </ul>
    </li>
    <li class="sub">
        <a href="{% url 'gobernanza' %}">
            <div>{% trans 'Gobernanza' %}</div>
        </a>
      <ul>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=gobierno">
                    <div>{% trans "Gobierno Corporativo" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=consejo">
                    <div>{% trans "Estructura de Gobierno Corporativo" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=comite">
                    <div>{% trans "Comités Auxiliares" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=etica">
                    <div>{% trans "Ética, integridad y cumplimiento" %}</div>
                </a>
            </li>
            <li class="">
                <a href="{% url 'gobernanza' %}?target=riesgos">
                    <div>{% trans "Gestión de Riesgos" %}</div>
                </a>
            </li>
        </ul>
    </li>

{#    <li class="sub">#}
{#        <a href="#">#}
{#            <div>{% trans 'Vinculación Comunidad' %}</div>#}
{#        </a>#}
{#            <ul>#}
{#                <li class="{% if page == 'diversidad-inclusion' %}current{% endif %}">#}
{#                    <a href="{% url 'diversidad-inclusion' %}">#}
{#                        <div>{% trans "Diversidad e inclusión" %}</div>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="{% if page == 'vinculacion-comunidad' %}current{% endif %}">#}
{#                    <a href="{% url 'vinculacion-comunidad' %}">#}
{#                        <div>{% trans "Vinculación con la comunidad" %}</div>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#    </li>#}
{#        <li>#}
{#            <a href="#">#}
{#                <div>{% trans 'Gobernanza' %}</div>#}
{#            </a>#}
{#            <ul>#}
{#                <li class="{% if page == 'sistema_gobierno' %}current{% endif %}">#}
{#                    <a href="{% url 'sistema_gobierno' %}">#}
{#                        <div>{% trans "Sistema de gobierno" %}</div>#}
{#                    </a>#}
{#                </li>#}
{#                <li class="{% if page == 'grupos-interes' %}current{% endif %}">#}
{#                    <a href="{% url 'grupos-interes' %}">#}
{#                        <div>{% trans "Grupos de interés" %}</div>#}
{#                    </a>#}
{#                </li>#}
{#            </ul>#}
{#        </li>#}
    <li class="sub">
        <a href="{% url 'contacto' %}">
            <div>{% trans 'Contacto' %}</div>
        </a>
    </li>
</ul>
