/*Sección Ambiental*/

        .expandable-card {
            cursor: pointer;
            transition: all 0.6s ease;
            z-index: 1;
        }

        .expandable-card.expanded {
            position: absolute !important;
            top: 0;
            left: 0;
            width: 100% !important;
            right: 0;
            max-width: 100% !important;
            flex: 0 0 100% !important;
            height: 100% !important;
            background: #fff;
            z-index: 10;
            box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
            padding: 20px;
            display: flex;
            flex-direction: column;
        }

        .expandable-card.expanded img {
            width: 100%;
            height: auto;
            margin-bottom: 15px;
        }

        #cardsContainer.hide-others .expandable-card:not(.expanded) {
            display: none;
        }

        .collapse-arrow {
            position: absolute;
            font-size: 1.2rem;
            color: #333;
            cursor: pointer;
            display: none;
            width: 56px;
            height: 56px;
            border-radius: 50%;
            background: #d0df00;
            border: 3px solid #fff;
            align-items: center;
            justify-content: center;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
            z-index: 1001;
        }

        .expandable-card.expanded .collapse-arrow {
            display: flex;
        }

        .collapse-arrow-bottom-right {
            bottom: 15px;
            right: 15px;
        }

        .collapse-arrow-bottom-left {
            bottom: 15px;
            left: 15px;
        }

        .collapse-arrow-top-right {
            top: 15px;
            right: 15px;
        }

        .collapse-arrow-top-left {
            top: 15px;
            left: 15px;
        }

        /* Ícono dentro del botón */
        .collapse-arrow i {
            display: none;
        }

        .collapse-arrow::before {
            content: '\2196'; /* ↖ default */
            color: #53565a;
            font-size: 32px;
            line-height: 4;
        }

        /* Flecha según cuadrante */
        .expandable-card[data-card="A"] .collapse-arrow::before {
            content: '\2196';
        }  /* ↖ */
        .expandable-card[data-card="B"] .collapse-arrow::before {
            content: '\2197';
        }  /* ↗ */
        .expandable-card[data-card="C"] .collapse-arrow::before {
            content: '\2199';
        }  /* ↙ */
        .expandable-card[data-card="D"] .collapse-arrow::before {
            content: '\2198';
        }  /* ↘ */

        /* Hover para tarjetas no expandidas */
        .expandable-card:not(.expanded):hover {
            background-color: #d0df00;
            box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
        }



        #consec .cards:hover {
            -webkit-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            transform: translateY(-10px);
            background-color: #d0df00;
        }

        #consec .cards {
            -webkit-transition: 0.1s ease-in;
            -o-transition: 0.1s ease-in;
            transition: 0.1s ease-in;
        }

        /* HISTORIA */
        .honeycomb-wrapper .tile .honeycomb {
            height: 150px;
        }

        .honeycomb-wrapper .count {
            background-color: transparent;
        }

        /* AGUAS */
        .downloadv2 {
            background-position: center;
            background-size: cover;
            min-height: 400px;
            width: 100%;
            padding: 30px;
        }

        .border-radius-30 {
            border-radius: 30px;
        }

        .texto-animacion {
            text-align: center;
            color: white;
            margin: 0;
        }

        .item-hover .img-bg {
            transition: all 1s ease-out;
        }

        .item-hover .show-desc {
            -webkit-transition: opacity 0.5s ease;
            opacity: 0;
            height: 0;
            overflow: hidden;
            padding-top: 0;
            min-height: unset;

        }

        .item-hover .show-desc img {
            width: 30%;
        }

        .item-hover:hover .show-desc {
            opacity: 1;
            height: auto;
            padding-top: 0px;
            min-height: 150px;

        }

        .item-hover:hover .img-bg {
            opacity: 0;
            display: block;
            height: 0;
            width: 0;
            padding: 0;
            min-height: unset;

        }

        .icon_container {
            background-position: top center;
            background-size: 10rem;
            /*min-height: 150px; */
            background-repeat: no-repeat;
            padding-top: 120px;

        }

        .icon_container h4 {
            padding-top: 4rem;
        }


        .square1,
        .square2,
        .square3,
        .square4 {
            position: relative;
            width: 100%;
            overflow: hidden;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-size: cover;
            background-position: center;
            padding: 20px;
            max-height: 235.5px;
            transition: transform 0.6s ease;
            border-radius: 8px;
        }

        /* Ícono centrado */
        .square-icon {
            width: 80%;
            height: 80%;
            object-fit: contain;
            transition: opacity 0.5s ease, transform 0.5s ease;
        }

        /* Fondo del texto */
        .item-content {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%;
            background-color: rgba(0, 0, 0, 0.6);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            color: white;
            text-align: center;
            opacity: 0;
            transition: opacity 0.5s ease-out;
            border-radius: 8px;
            padding: 10px;
        }

        /* Al pasar el mouse: muestra texto y oculta icono */
        .square1:hover .item-content,
        .square2:hover .item-content,
        .square3:hover .item-content,
        .square4:hover .item-content {
            opacity: 1;
        }

        .square1:hover .square-icon,
        .square2:hover .square-icon,
        .square3:hover .square-icon,
        .square4:hover .square-icon {
            opacity: 0;
            transform: scale(0.8) rotateY(180deg);
        }

        span .item-title {
            color: #d0df00;
            font-size: 24px;
        }

        #cifras_relevantes_energia .honeycomb-wrapper .tile .honeycomb .honeycomb-path circle {
            stroke: #1bc2ae !important;
        }

        h1 {
            font-weight: 600 !important;
        }


        /*------------------------------------------*/
        .fondo-con-boton {
            position: relative;
            background-image: url('../images/ambiental/ruta_verde.jpg');
            background-size: cover;
            background-position: center;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60%;
            border-radius: 20px;
            margin: 0 auto;
        }

        .boton-sobre-fondo {
            background-color: #d0df00;
            color: #63666A;
            border: none;
            padding: 12px 24px;
            border-radius: 10px;
            font-size: 18px;
            cursor: pointer;
            transition: background 0.3s ease;
        }

        .boton-sobre-fondo:hover {
            background-color: #63666A;
            color: #d0df00;
            border: 1px solid #d0df00;
        }

        .loop-container {
            position: relative;
            width: 700px;
            height: 700px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateX(-50px);
        }

        .loop-container::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 300px;
            height: 300px;
            border: 2px solid #0a8d48;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        .center-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
        }

        .center-image img {
            width: 250px;
            height: 250px;
            object-fit: contain;
        }

        .bullet {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 160px;
            text-align: center;
            transform: rotate(calc(72deg * var(--i) - 90deg)) translate(250px) rotate(calc(-72deg * var(--i) + 90deg));
            z-index: 4;
        }

        .bullet::before {
            content: '';
            position: absolute;
            top: -8px;
            left: 50%;
            width: 15px;
            height: 15px;
            background: #0a8d48;
            border-radius: 50%;
            transform: translateX(-50%);
            z-index: 5;
        }

        .bullet h3 {
            margin: 0;
            font-size: 16px;
            color: #0a8d48;
            font-weight: 600;
            margin-bottom: 4px;
        }

        .bullet p {
            font-size: 13px;
            color: #333;
            margin: 0;
            line-height: 1.2;
        }

        .img1 {
            max-width: 60% !important;
            border-style: none;
        }

        /* Estilos para las tarjetas de transporte */
        .transporte-container {
            display: flex;
            width: 100%;
            margin: 20px 0;
        }

        .transporte-card {
            background: #d0df00;
            color: white;
            padding: 30px 20px;
            text-align: center;
            cursor: pointer;
            transition: all 0.5s ease;
            height: 400px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            border: none;
            border-right: 1px solid #63666A;
            overflow: hidden;
        }

        .transporte-card:last-child {
            border-right: none;
        }

        .transporte-card:hover {
            background: #63666A;
            border-right: 1px solid #d0df00;
        }

        .transporte-card h3:hover {
            color: #d0df00 !important;
        }

        .transporte-card h3 {
            font-size: 24px;
            font-weight: 600;
            margin: 0;
            line-height: 1.3;
            transition: all 0.5s ease;
        }

        .transporte-card.expanded {
            flex: 3;
            background: #d0df00;
            flex-direction: column;
            justify-content: flex-start;
            padding: 40px;
        }

        .transporte-card.expanded h3 {
            font-size: 24px;
            margin-bottom: 20px;
            color: #63666A;
            font-weight: 800;
        }

        .transporte-card.expanded .card-content {
            display: block;
            font-size: 18px;
            line-height: 1.6;
            margin-bottom: 20px;
            color: white;
        }

        .transporte-card.expanded .card-button {
            display: block;
            background: #d0df00;
            color: #63666A;
            border: none;
            padding: 10px 25px;
            font-size: 14px;
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .transporte-card.expanded .card-button:hover {
            background: #63666A;
            color: #d0df00;
        }

        .transporte-card .card-content,
        .transporte-card .card-button {
            display: none;
        }

        .transporte-card.collapsed {
            flex: 0.3;
            padding: 10px 5px;
        }

        .transporte-card.collapsed h3 {
            opacity: 0.7;
            font-size: 14px !important;
            font-weight: 600;
        }

        .transporte-card.expanded[data-card="combustibles"] {
            background-image: url("../images/ambiental/Com_Alt_2.jpg") !important;
            background-position: center;
            background-size: cover;
        }

        .transporte-card.expanded[data-card="paneles"] {
            background-image: url("../images/ambiental/Panel_Solar_2.jpg") !important;
            background-position: center;
            background-size: cover;
        }

        .transporte-card.expanded[data-card="electricos"] {
            background-image: url("../images/ambiental/Veh_elec_2.jpg") !important;
            background-position: center;
            background-size: cover;
        }

        .transporte-card.expanded[data-card="semarnat"] {
            background-image: url("../images/ambiental/Participación_SEMARNAT_2.jpg") !important;
            background-position: center;
            background-size: cover;
        }

        .year-buttons {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            display: flex;
            gap: 10px;
        }

        .btn-year {
            background-color: rgba(0, 0, 0, 0.5);
            border: 1px solid #d0df00;
            color: #fff;
            padding: 6px 18px;
            border-radius: 20px;
            cursor: pointer;
            font-weight: 500;
            transition: all 0.3s ease;
        }

        .btn-year:hover,
        .btn-year.active {
            background-color: #d0df00;
            color: #000;
        }

        .year-buttons {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            display: flex;
            gap: 10px;
        }

        .btn-year {
            background-color: rgba(0, 0, 0, 0.5);
            border: 1px solid #d0df00;
            color: #fff;
            padding: 6px 18px;
            border-radius: 20px;
            cursor: pointer;
            font-weight: 500;
            transition: all 0.3s ease;
        }

        .btn-year:hover,
        .btn-year.active {
            background-color: #d0df00;
            color: #000;
        }

        .porcentaje {
            margin-bottom: 5px;
            font-size: 34px !important;
        }